%html
  %head
    %title
      Peekaboo
  %body
    %p
      Peekaboo I see you!!
    %nav
      %ul
        %li
          %a{:href => "/push"} Push
        %li
          %a{:href => "/start"} Start Session
        %li
          %a{:href => "/clear"} Clear Session
