%html
  %head
    %title
      Peekaboo | Push 
%body
  %p
    Push
  %p.notice
    = notice
  %form{:name => "question_form", :method => "post", :action => "/push"}
    %label{:for => "question"} Question:
    %input{:type => "text", :name => "question", :class => "text"}

    %input{:type => "submit", :value => "Push"} 
